  /* courses-container */
  .courses-container {
      margin: 50px 0;
  }

  /*  courses */
  .blogCatalog {
      font-family: var(--font-inter);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      padding: 0 5%;
      margin-bottom: 50px;
  }

  .blogCard {
      background: #fff;
      border: 1px solid #E4E7EC;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
      border-radius: 16px;
  }

  .blogCard .imgContainer {
      height: 27vh;
      border-bottom: 1px solid #27283323;
  }

  .blogCard img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      height: 100%;
      width: 100%;
  }

  .content {
      padding: 20px 15px;
      font-family: var(--font-inter);
  }

  .contentTitle {
      display: flex;
      justify-content: space-between;
  }

  .contentTitle h5 {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: #101828;
      margin-bottom: 20px;
      margin-right: 10px;
  }

  .contentTitle a {
      color: #101828;
  }

  .content p {
      color: #667085;
      font-family: var(--font-inter);
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      display: -webkit-box;
  }

  /* page numbers */
  .pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #E4E7EC;
      margin: 0 5%;
      padding-top: 40px;
  }

  .pagination div {
      display: flex;
      align-items: center;
  }

  .paginationItem {
      color: #475467;
      font-family: var(--font-inter);
      position: relative;
      margin: 0;
  }

  .paginationItem span {
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .paginationItem:nth-child(even) {
      margin: 0 50px;
  }

  .prev,
  .next {
      background: #fff;
      border: 1px solid #D0D5DD;
      box-shadow: 0px 0px 0px 1px #1018282E;
      border-radius: 8px;
      color: #344054;
      cursor: pointer;
      margin: 0;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      font-size: 18px;
  }

  .courses-category-font {
      fill: #344054;
      font-size: 20px;
      margin-left: 5px;
  }

  .courses-category-font:first-child {
      margin-left: 0;
      margin-right: 5px;
  }

  .paginationItem.active {
      border-radius: 3px;
      color: #182230;
      pointer-events: none;
  }

  .prev.disabled,
  .next.disabled,
  .courses-category-font.disabled {
      pointer-events: none;
      color: #92969c;
      fill: #D0D5DD;
  }


  /* tablet */
  @media (min-width: 768px) and (max-width: 1024px) {

      /* courses-container */
      .courses-container {
          margin: 30px 0;
      }

      /*  courses */
      .blogCatalog {
          grid-template-columns: repeat(2, 1fr);
      }

      .blogCard .imgContainer {
          height: 20vh;
      }

  }

  /* mobile */
  @media screen and (max-width: 768px) {

      /* courses-container */
      .courses-container {
          margin: 30px 0;
      }

      /*  courses */
      .blogCatalog {
          grid-template-columns: 1fr;
      }

      .blogCard .imgContainer {
          height: auto;
      }

      .paginationItem span {
          font-size: 1.2rem;
      }

      .prev,
      .next {
          font-size: 1.2rem;
      }

      .paginationItem:nth-child(even) {
          margin: 0 15px;
      }
  }