.press-release {
    font-family: var(--font-inter);
    padding-bottom: 100px;
}

.hero-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.press-release-hero {
    color: #fff;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 0 300px;
}

.press-release-hero h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1%;
}

.press-release-hero p {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 20px;
}

/* press-release-catalog */
.press-release-catalog {
    margin-top: -80px;
    padding: 0 300px;
}

.press-card {
    border-radius: 10px;
    border: 1px solid #d4dbff;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(212, 219, 255, 0.2);
    color: #161c2d;
    padding: 30px 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.press-card img {
    margin-right: 20px;
    width: 126px;
    height: 126px;
}

.press-content h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.press-content p {
    font-size: 16px;
    font-family: var(--font-inter);
    margin-bottom: 16px;
}

.press-content a {
    color: #0d6efd;
    font-size: 16px;
}

/* smaller laptop screens */
@media (min-width: 769px) and (max-width: 1425px) {
    .press-release-hero {
        height: 500px;
        padding: 0 5%;
    }

    .press-release-catalog {
        padding: 0 5%;
    }
}

/* mobile */
@media (max-width: 768px) {
    .press-release {
        margin-top: 8vh;
        padding-bottom: 50px;
    }

    .press-release-hero {
        align-items: flex-start;
        height: 450px;
        padding: 0 20px;
        padding-top: 70px;
    }

    .press-release-hero h1 {
        font-size: 26px;
    }

    .press-release-hero p {
        font-size: 16px;
    }

    /* press-release-catalog */
    .press-release-catalog {
        margin-top: -120px;
        padding: 0 20px;
    }

    .press-card {
        padding: 20px;
        flex-wrap: wrap;
    }

    .press-card img {
        margin-right: 20px;
    }

    .press-content h4 {
        font-size: var(--font-size-h2-sm);
        line-height: 30px;
    }

    .press-content p {
        line-height: 24px;
    }
}