.cloud-resource-page {
  padding: 0 150px;
  font-family: var(--font-inter);
  font-size: 1rem;
}

.cloud-resource-dynamo-hero-section {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  height: 70vh;
  margin-bottom: 20px;
  padding-top: 6%;
}

.cloud-resource-dynamo-hero-section div h1 {
  color: #344054;
  font-size: 4.48rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.cloud-resource-dynamo-hero-section div p {
  color: #344054;
  font-size: 2.24rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 30px;
}

.partnership-hero-btn a {
  background-color: transparent;
  color: #344054;
  text-decoration: none;
  border: 1px solid #d0d5dd;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

.partnership-hero-btn a:hover {
  border: 1px solid #90949b;
}

.partnership-hero-btn a:first-child {
  color: #ffffff;
  background-color: #3e54ac;
  margin-right: 20px;
}

.partnership-hero-btn a:first-child:hover {
  background-color: #4056ac;
}

.partnership-hero-img img {
  width: 100%;
  height: auto;
}

/* aws-dynmano-services */
.cloud-resource-services {
  padding: 60px 0;
}

.cloud-resource-stories h2 {
  display: none;
}

.cloud-resource-services h2,
.cloud-resource-stories .heading h2 {
  display: block;
  color: #101828;
  font-family: var(--font-inter);
  font-size: var(--font-size-h2);
  font-weight: 600;
  margin-bottom: 15px;
}

.cloud-resource-services h3,
.cloud-resource-stories .heading p {
  color: #667085;
  font-family: var(--font-inter);
  font-size: 1.9rem;
  font-weight: 400;
}

.cloud-resource-stories .heading {
  padding-left: 5%;
}

.cloud-resource-stories .heading h2,
.cloud-resource-stories .heading p {
  margin-bottom: 0;
}

.cloud-resource-stories .heading {
  margin-bottom: -50px;
}

.cloud-resource-services-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 70px;
  margin: 50px 0;
}

.cloud-resource-services-column div img {
  height: 83px;
  width: auto;
  margin-bottom: 30px;
}

.cloud-resource-services-column div h3 {
  color: #101828;
  font-family: var(--font-inter);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.cloud-resource-services-column div p {
  color: #667085;
  font-family: var(--font-inter);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

/* media query for small screen */
@media (max-width: 768px) {
  .cloud-resource-page {
    margin-top: 8vh;
    padding: 0 20px;
  }

  .cloud-resource-dynamo-hero-section {
    grid-template-columns: 1fr;
    gap: 30px;
    height: fit-content;
    padding: 20px 0 30px 0;
  }

  .cloud-resource-dynamo-hero-section div h1 {
    font-size: 2.4rem;
    list-style: 3.2rem;
  }

  .cloud-resource-dynamo-hero-section div p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .partnership-hero-btn {
    display: flex;
    flex-wrap: wrap;
  }

  .partnership-hero-btn a {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
  }

  .partnership-hero-btn a:first-child {
    margin: 0;
    margin-bottom: 20px;
  }

  .partnership-hero-img {
    grid-area: 1;
    margin: 0;
  }

  /* aws-dynmano-services */
  .cloud-resource-services {
    padding: 30px 0;
  }

  .cloud-resource-services h2 {
    font-size: var(--font-size-h2-sm);
    margin-bottom: 5px;
  }

  .cloud-resource-services h3 {
    font-size: var(--font-size-h3-sm);
    line-height: 2.4rem;
  }

  .cloud-resource-services-column {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }

  .cloud-resource-services-column div img {
    height: 90px;
    margin-bottom: 20px;
  }

  .cloud-resource-services-column div h3 {
    font-size: 1.8rem;
  }

  .cloud-resource-stories {
    margin: -30px 0 -70px 0;
  }

  .cloud-resource-stories .heading {
    padding-left: 20px;
  }

  .cloud-resource-stories .heading h2 {
    font-size: var(--font-size-h2-sm);
  }

  .cloud-resource-stories .heading p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}