
.container,
.calendlyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 150dvh;
  margin: 0;
  padding:30px;
}

.header{
  margin:70px 0px 50px 0px;
  font-size:3rem;
  font-family: var(--font-inter);


}

.calendly {
  width: 100%;
  height: 100%;
}

.calendly iframe {
  width: 100%;
  height: 100%;
  border: none;
}



/* Mobile Styles */
@media (max-width: 768px) {

.header{
  font-size:2rem;

}
}
