.eventsHero,
.eventSocials,
.pagination,
.eventWebinars,
.footer {
  display: block;
  font-family: var(--font-inter);
}

.bgImg {
  background-position: top center;
  background-repeat: no-repeat;
}

.eventsHero {
  color: #eff0fa;
  padding: 0 100px;
  padding-top: 4%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.eventsHeroVideo {
  border-radius: 8px;
  justify-self: right;
  height: 90%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventsHero h1 {
  font-size: 4.8rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 30px;
}

.eventsHero p {
  font-size: 2.2rem;
  line-height: 34px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* event-socials */
.eventSocials {
  padding: 30px 100px 30px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5em;
}

.eventSocialsGrid {
  border: 1px solid #eaecf0;
  border-radius: 16px;
  min-height: 488px;
  width: 100%;
}

.eventSocialsImgContainer {
  position: relative;
  height: 300px;
}

.eventSocialsImgContainer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.eventSocialsImgContainer img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.eventSocialsImgContainer > div,
.eventSocialsBodyContainer div {
  display: flex;
  align-items: center;
}

.eventSocialsBodyContainer {
  padding: 20px;
}

.eventSocialsBodyContainer h3 {
  color: #101828;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
}

.eventSocialsBodyContainer p {
  color: #344054;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
}

.eventSocialsBodyContainer a {
  color: #3e54ac;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  margin-right: 10px;
}

/* pagination */
.pagination,
.pagination p,
.pagination div {
  display: flex;
  align-items: center;
}

.pagination {
  justify-content: space-between;
  margin: 0 100px;
  margin-bottom: 30px;
}

.pagination p {
  color: #475467;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.pagination p span {
  margin: 0 5px;
}

.pagination div p {
  font-weight: 500;
  justify-content: center;
  height: 40px;
  margin: 0 10px;
  width: 40px;
}

.pagination div p.active {
  background: #f9fafb;
  border-radius: 50%;
}

.pagination p.disabled {
  pointer-events: none;
  color: #92969c;
  fill: #d0d5dd;
}

.pagination .mobile-page-item {
  display: none;
  color: #182230;
}

/* events-webinars */
.eventWebinars {
  border-top: 1px solid #f0f1f1;
  margin: 0 100px;
  padding-top: 20px;
}

.eventWebinars h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 20px;
}

.eventWebinarGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}

.eventWebinarCard {
  border: 1px solid #d0d5dd;
  border-radius: 16px;
}

.eventWebinarCardImage {
  height: 30vh;
}

.eventWebinarCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.eventWebinarCardContent {
  padding: 20px;
}

.eventWebinarCardContent h5 {
  color: #344054;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.eventWebinarCardContent a {
  color: #3e54ac;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 24px;
}

.eventWebinarCardContent a #icon {
  font-size: 1.6rem;
}

/* smaller laptop screens */
@media (min-width: 1025px) and (max-width: 1425px) {
  .eventsHero {
    padding: 0 5%;
    padding-top: 3%;
  }

  .eventsHero h1 {
    margin-bottom: 20px;
  }

  .eventsHero p {
    font-size: 2rem;
    line-height: 32px;
  }

  /* event-socials */
  .eventSocials {
    padding: 30px 5%;
    grid-template-columns: repeat(3, 1fr);
  }

  .pagination {
    margin: 0 5%;
    margin-bottom: 30px;
  }

  /* events-webinars */
  .eventWebinars {
    margin: 0 5%;
  }
}

/* smaller laptop screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .eventsHero {
    padding: 0 5%;
    padding-top: 0;
  }

  .eventsHero h1 {
    margin-bottom: 20px;
  }

  .eventsHero p {
    font-size: 2rem;
    line-height: 32px;
  }

  /* event-socials */
  .eventSocials {
    padding: 30px 5%;
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination {
    margin: 0 5%;
    margin-bottom: 30px;
  }

  /* events-webinars */
  .eventWebinars {
    margin: 0 5%;
  }
}

/* media query for small screen */
@media (max-width: 768px) {
  .eventsHero {
    background: #0a0f25;
    padding: 40px 20px 10px 20px;
    height: fit-content;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .eventsHeroVideo {
    aspect-ratio: 2/1;
    width: 100%;
    height: fit-content;
    grid-area: 2;
    margin: 30px 0;
  }

  .eventsHero h1 {
    margin-bottom: 10px;
  }

  .eventsHero p {
    font-size: 1.4rem;
    line-height: 26px;
  }

  /* event-socials */
  .eventSocials {
    padding: 0 20px;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .eventSocialsImgContainer {
    position: relative;
    height: auto;
  }

  .eventSocialsBodyContainer p {
    display: block;
  }

  /* pagination */
  .pagination {
    margin: 20px;
  }

  .pagination p:has(span) {
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    padding: 8px;
  }

  .pagination p span {
    display: none;
  }

  .pagination div p {
    height: auto;
    margin: 0;
    width: auto;
  }

  .pagination .paginationItem {
    display: none;
  }

  .pagination .mobile-page-item {
    display: block;
  }

  /* events-webinars */
  .eventWebinars {
    margin: 0 20px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .eventWebinarGrid {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .eventWebinarCardImage {
    height: auto;
  }
}
