.dynamo-page {
  padding: 0 150px;
  font-family: var(--font-montserrat);
  font-size: 10px;
}

.dynamo-hero-section {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  height: 80vh;
  padding-top: 8%;
}

.dynamo-hero-section div h1 {
  color: #344054;
  font-size: 2.8rem;
  font-weight: 800;
}

.dynamo-hero-section div:first-child img {
  width: 63px;
  height: 63px;
  margin-bottom: 10px;
}

.dynamo-hero-section div p {
  color: #344054;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 30px;
}

.partnership-hero-btn a {
  background-color: transparent;
  color: #344054;
  text-decoration: none;
  border: 1px solid #d0d5dd;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.partnership-hero-btn a:hover {
  border: 1px solid #90949b;
}

.partnership-hero-btn a:first-child {
  color: #ffffff;
  background-color: #3e54ac;
  margin-right: 20px;
}

.partnership-hero-btn a:first-child:hover {
  background-color: #4056ac;
}

.partnership-hero-img img {
  width: 100%;
  height: auto;
}

/* aws-dynmano-services */
.dynamo-services {
  padding: 60px 0;
}

.dynamo-services h3 {
  color: #667085;
  font-family: var(--font-inter);
  font-size: 1.2rem;
  font-weight: 400;
}

.dynamo-services h2,
.dynamo-use-cases h2 {
  color: #101828;
  font-family: var(--font-inter);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.dynamo-services-column {
  font-family: var(--font-inter);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 70px;
  margin: 50px 0;
}

.dynamo-services-column div img {
  height: 83px;
  width: auto;
  margin-bottom: 30px;
}

.dynamo-services-column div p {
  color: #101828;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.dynamo-services-column div ul li {
  color: #667085;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
}

/* use-cases */
.use-cases {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 40px;
  margin-bottom: 50px;
}

.use-cases section {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px 0px #0000001a;
}

.use-cases section div {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 0;
}

.use-cases section div img {
  width: 40%;
  height: auto;
}

.use-cases section p {
  font-weight: 400;
  font-size: 1rem;
}

.use-cases section:nth-child(1) div {
  background-color: #8c9ee9;
}

.use-cases section:nth-child(2) div {
  background-color: #dc9ae5;
}

.use-cases section:nth-child(3) div {
  background-color: #ff9ac6;
}

.use-cases section:nth-child(4) div {
  background-color: #ffac99;
}

/* media query for small screen */
@media (max-width: 768px) {
  .dynamo-page {
    padding: 0 20px;
  }

  .dynamo-hero-section {
    grid-template-columns: 1fr;
    height: fit-content;
    padding: 50px 0 30px 0;
  }

  .dynamo-hero-section div h1 {
    font-size: 28px;
  }

  .dynamo-hero-section div p {
    font-size: 14px;
  }

  .partnership-hero-btn {
    display: flex;
    flex-wrap: wrap;
  }

  .partnership-hero-btn a {
    width: 100%;
    text-align: center;
  }

  .partnership-hero-btn a:first-child {
    margin: 0;
    margin-bottom: 20px;
  }

  .partnership-hero-img {
    grid-area: 1;
    margin: 0 0 30px 0;
  }

  /* aws-dynmano-services */
  .dynamo-services {
    padding: 30px 0;
  }

  .dynamo-services h3 {
    font-size: 16px;
  }

  .dynamo-services h2,
  .dynamo-use-cases h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .use-cases,
  .dynamo-services-column {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }

  .dynamo-services-column div img {
    height: 90px;
    margin-bottom: 20px;
  }

  /* use-cases */
  .use-cases {
    margin: 30px 0;
  }

  .use-cases section div img {
    width: 50%;
  }
}