.blog {
    color: #344054;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 150px 20%;
}

.socials {
    padding-top: 40px;
}

.socials li {
    font-family: var(--font-inter);
    padding-top: 40px;
    width: fit-content;
}

.socials li a {
    border: 1px solid #344054;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content h1 {
    font-size: 28px;
    font-family: var(--font-inter);
    font-weight: 32px;
    margin-bottom: 10px;
}

.main-content img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
}

.main-content h4,
.main-content h5 {
    font-family: var(--font-inter);
    font-size: 24px;
    margin-bottom: 5px;
}

.main-content p,
.main-content li {
    font-size: 16px;
    font-family: var(--font-inter);
    line-height: 28px;
    margin-bottom: 20px;
}

.main-content li b {
    font-size: 18px;
}

/* mobile */
@media screen and (max-width: 768px) {
    .blog {
        grid-template-columns: 100%;
        padding: 50px 20px;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
        padding-top: 0;
    }

    .socials li {
        padding-top: 0px;
        padding-left: 20px;
    }

    .main-content h1 {
        font-size: 24px;
    }

    .main-content h4,
    .main-content h5 {
        font-size: 20px;
    }

    .main-content p,
    .main-content li {
        font-size: 14px;
        line-height: 26px;
    }

    .main-content li b {
        font-size: 16px;
    }

    .main-content ol {
        margin-left: 15px;
    }
}