/* popular courses */
.courses-container {
  margin-top: 50px;
  font-family: var(--font-inter);
  padding: 30px 0;
}

.courses-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.courses-container-header h3 {
  color: #516beb;
  font-size: var(--font-size-h2);
  font-weight: 600;
}

.courses-container-header div {
  display: flex;
  align-items: center;
}

.courses-category-font {
  fill: #516beb;
  font-size: 2rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  color: #42526e;
  border: none;
  height: 100%;
  width: 45px;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.paginationItem span {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  color: #516beb;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.paginationItem.active {
  background: #516beb;
  border-radius: 3px;
  color: #fff;
  padding: 20px 0;
  pointer-events: none;
}

.prev.disabled,
.next.disabled,
.courses-category-font.disabled {
  pointer-events: none;
  color: #999;
  fill: #999;
}

/* -------flexed courses column------ */
.flex-courses {
  display: grid;
  grid-template-columns: 1fr;
}

.flex-courses-column {
  width: 100%;
  background: #ffffff;
  border: 2px solid rgba(81, 107, 235, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.flex-courses-column h5 {
  color: #516beb;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 20px;
  padding-top: 10px;
}

/* image container */
.flex-courses-image-container {
  width: 100%;
  height: 26vh;
  border-radius: 7px;
  margin-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.flex-courses-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

/* grid-styling on desktop view */
@media (min-width: 1201px) {
  .flex-courses {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 4rem;
  }
}

@media screen and (min-width: 789px) and (max-width: 1200px) {
  .flex-courses {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 4rem;
  }
}

@media (max-width: 768px) {

  /* popular courses */
  .courses-container {
    margin-top: 30px;
    position: relative;
    margin-bottom: 50px;
  }

  .courses-container-header {
    margin-bottom: 30px;
  }

  .courses-container-header h3 {
    margin-bottom: -20px;
    font-size: var(--font-size-h2-sm);
  }

  .courses-category-font {
    height: 15px;
    width: 15px;
  }

  .pagination {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  .paginationItem {
    height: 100%;
    width: 30px;
    margin: 0 15px;
  }

  .prev,
  .next {
    font-size: 1.4rem;
  }

  /* flexed courses column */
  .flex-courses {
    grid-gap: 30px;
  }

  /* image container */
  .flex-courses-image-container {
    height: 250px;
    overflow: hidden;
  }

  .post-heading {
    font-size: 2rem;
  }

  .post-paragraph {
    text-indent: 20px;
    font-size: 1.6rem;
  }
}