.backup {
    font-family: var(--font-inter);
}

.bg-backup {
    background-size: contain;
    padding-top: 8vh;
    height: 90vh;
}

.backup-hero {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    padding: 0 10%;
}

.backup-hero h1 {
    font-size: 6rem;
    line-height: 7.2rem;
    color: #101828;
    font-weight: 700;
}

.backup-hero p {
    color: #475467;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: 30px;
}

.backup-hero ul li {
    color: #475467;
    font-size: 1.8rem;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backup-hero .logos {
    height: 30px;
    margin-right: 20px;
    width: auto;
}

.backup-hero h6 {
    color: #475467;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

.hero-img {
    height: auto;
    width: 80%;
    margin-left: auto;
}

/* modules */
.modules {
    padding: 40px 10%;
}

.modules h2 {
    color: #101828;
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 70px;
}

.saas-grid {
    grid-template-columns: repeat(2, 1fr);
}

.grid h3 {
    color: #101828;
    font-size: 2rem;
    margin-bottom: 10px;
}

.grid p {
    color: #475467;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

/* footer */
.footer {
    background-color: #10193B;
    box-shadow: 0px 20px 24px -4px #10182814;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    border-radius: 24px;
}

.footer div {
    padding: 0 10%;
}

.footer h2 {
    color: #fff;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.4rem;
}

.footer p {
    color: #C2C8EF;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.footer a {
    margin: 0;
    margin-top: 20px;
}

.footer img {
    width: 100%;
    height: auto;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

/* smaller laptops */
@media (min-width: 1025px) and (max-width: 1425px) {
    .bg-backup {
        padding-top: 14vh;
        height: fit-content;
    }
    
    .backup-hero {
        padding: 0 5%;
    }
    
    .backup-hero h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
    
    .backup-hero p {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 20px;
    }
    
    .backup-hero ul li {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }
    
    .backup-hero .logos {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    .backup-hero h6 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
        
    /* modules */
    .modules {
        padding: 40px 5%;
    }
    
    .modules h2 {
        font-size: 2.4rem;
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* footer */
    .footer {
        grid-template-columns: 60% 40%;
    }
    
    .footer div {
        padding: 5%;
    }
    
    .footer h2 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
    
    .footer p {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
    
    .footer img {
        height: 100%;
        object-fit: cover;
    }
}

/* tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    
    .bg-backup {
    margin-top: 8vh;
        padding-top: 5vh;
        height: fit-content;
    }
    
    .backup-hero {
        padding: 0 5%;
    }
    
    .backup-hero h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
    
    .backup-hero p {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 20px;
    }
    
    .backup-hero ul li {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }
    
    .backup-hero .logos {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    .backup-hero h6 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
        
    /* modules */
    .modules {
        padding: 40px 5%;
    }
    
    .modules h2 {
        font-size: 2.4rem;
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* footer */
    .footer {
        grid-template-columns: 60% 40%;
    }
    
    .footer div {
        padding: 5%;
    }
    
    .footer h2 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
    
    .footer p {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
    
    .footer img {
        height: 100%;
        object-fit: cover;
    }
}

/* mobile */
@media screen and (max-width:768px) {

    .bg-backup {
    margin-top: 8vh;
        height: fit-content;
        background-size: cover;
    }

    .backup-hero {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .hero-img {
        height: auto;
        width: 100%;
        margin: auto;
        grid-area: 1;
    }

    .backup-hero h1 {
        font-size: 3rem;
        line-height: 2.3rem;
    }

    .backup-hero p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }

    .backup-hero ul li {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }

    .backup-hero .logos {
        height: 20px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .backup-hero .logos:last-child {
        margin-bottom: 0;
    }

    .backup-hero h6 {
        margin-top: 20px;
    }

    /* modules */
    .modules {
        padding: 40px 20px;
    }

    .modules h2 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 40px;
        margin-bottom: 70px;
    }

    .saas-grid {
        grid-template-columns: 1fr;
    }

    .grid h3 {
        font-size: 1.8rem;
    }

    .grid p {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    /* footer */
    .footer {
        grid-template-columns: 100%;
    }

    .footer div {
        padding: 30px 20px;
    }

    .footer h2 {
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .footer p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .footer a {
        background-color: #fff;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 0px 0px 1px #1018282E inset;
        color: #344054;
        width: 100%;
    }

    .footer a:hover {
        background-color: #fff;
        border: 1px solid #D0D5DD;
    }

    .footer img {
        border-radius: 0;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;

    }

}