.main h2 {
  color: var(--color-h2);
  font-family: var(--font-inter);
  font-size: var(--font-size-h2);
  margin-bottom: 0;
  text-align: center;
}


/* gtcoSection */
.gtcoSection {
  display: grid;
  grid-template-columns: 65% 25%;
  padding: 70px 15%;
  justify-content: space-between;
}

.gtcoSection div h2 {
  color: #101828;
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
}

.gtcoSection div p {
  color: #101828;
  font-size: 30px;
  font-style: italic;
  font-family: var(--font-montserrat);
  line-height: 60px;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  /* gtcoSection */
  .gtcoSection {
    grid-template-columns: 1fr;
    padding: 20px 60px 50px 60px;
  }

  .gtcoSection div:first-child {
    grid-area: 2;
    margin-top: 30px;
  }

  .gtcoSection div h2 {
    font-size: 24px;
  }

  .gtcoSection div p {
    font-size: 18px;
    line-height: 40px;
  }
}

/* mobile */
@media (max-width: 767px) and (min-width: 300px) {
  .main h2 {
    font-size: var(--font-size-h2-sm);
  }

  /* gtcoSection */
  .gtcoSection {
    grid-template-columns: 1fr;
    padding: 20px 20px 50px 20px;
  }

  .gtcoSection div:first-child {
    grid-area: 2;
    margin-top: 30px;
  }

  .gtcoSection div h2 {
    font-size: 24px;
  }

  .gtcoSection div p {
    font-size: 18px;
    line-height: 40px;
  }
}