.eventPartners {
  display: block;
  font-family: var(--font-inter);
  padding: 100px 0;
}

.eventPartners h2 {
  color: #475467;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.eventPartnersLogos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventPartnersLogos .partnersLogo {
  width: auto;
  height: 60px;
  margin-right: 40px;
}

.eventPartnersLogos .partnersLogo img {
  height: 100%;
  width: 100%;
}

.eventPartnersLogos .partnersLogo:last-child img {
  margin-right: 0;
}

/* media query for small screen */
@media (max-width: 768px) {

  .eventPartners {
    padding: 0 20px 50px 20px;
  }

  .eventPartners h2 {
    margin-bottom: 30px;
  }

  .eventPartnersLogos {
    flex-wrap: wrap;
  }

  .eventPartnersLogos .partnersLogo {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
  }

  .eventPartnersLogos .partnersLogo img {
    margin-right: 15px;
    margin-left: 15px;
  }

  .eventPartnersLogos .partnersLogo:nth-child(odd) img {
    margin: 0;
  }

}