.nav-parent {
  background-color: #2f55d4;
  display: flex;
  justify-content: space-around;
  font-family: var(--font-inter);
}

.navbar-drop a:nth-child(1):hover {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-header-nav {
  border-bottom: 1px solid #d0d5dd;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 30px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
}

.main-header-nav .header-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.main-header-nav .header-links .dropdown-container {
  color: #101828;
  font-size: 0.95rem;
  font-family: var(--font-inter);
  font-weight: 500;
  margin-right: 20px;
}

.drop-down {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(106, 105, 105, 0.2);
  width: 100%;
  grid-template-columns: 25% 75%;
  padding: 30px 25%;
  padding: 30px 5%;
  z-index: 1;
  font-family: var(--font-inter);
}

.drop-down h4 {
  color: #3e54ac;
  font-size: 24px;
  font-weight: 500;
}

.drop-down-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 50px;
}

.dropdown-offerings>.drop-down-content {
  grid-template-columns: repeat(3, 1fr);
}

.dropdown-professional>.drop-down-content {
  grid-template-columns: 1fr;
}

.dropdown-container:hover .drop-down {
  display: grid;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link span {
  margin-right: 3px;
}

.drop-down-content a {
  color: #101828;
  font-size: 0.95rem;
  font-weight: 500;
  border-bottom: 1px solid #d0d5dd;
  padding: 20px 0 2px 0;
}

.dropdown-offerings a:first-child,
.dropdown-resources a:first-child,
.dropdown-resources a:nth-child(2),
.dropdown-offerings a:nth-child(2),
.dropdown-professional a:first-child,
.dropdown-offerings a:nth-child(3) {
  padding-top: 5px;
}

.header-btn {
  background-color: #3e54ac;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  z-index: 9;
  transform: scale(1);
}

.header-btn:hover {
  background-color: #213cab;
  color: #fff;
}

.header-btn:active {
  transform: scale(0.85);
  animation: transform ease-in-out 250ms linear;
}

/* display mobile nav as none */
.mobile-nav {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-header-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav {
    border-bottom: 1px solid rgba(52, 64, 84, 0.2);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(17px);
    padding: 0 20px;
    width: 100%;
    z-index: 999;
    top: 0;
  }

  .mobile-nav .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* hamburger */
  .mobile-nav .menu-lines {
    display: block;
  }

  .mobile-nav .menu-lines .navbar-toggle {
    display: block;
  }

  .menu-lines {
    height: 60px;
  }

  .menu-lines .lines {
    display: block;
    margin: 22px 10px;
    position: relative;
    width: 24px;
  }

  .menu-lines .lines span {
    background-color: #344054;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition:
      transform 0.5s ease,
      -webkit-transform 0.5s ease;
    width: 100%;
  }

  .menu-lines .open span {
    position: absolute;
  }

  .menu-lines .open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menu-lines .open span:nth-child(2) {
    visibility: hidden;
  }

  .menu-lines .open span:last-child {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
  }

  /* links */
  .invisible {
    display: none;
  }

  .visible-links {
    display: block;
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

  .visible-links .links {
    background: white;
    padding: 30px 20px;
    min-height: 100vh;
    /* max-height: fit-content; */
  }

  body.no-scroll {
    overflow-y: hidden;
  }

  .links ul {
    list-style: none;
  }

  .links li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--font-inter);
    font-weight: 600;
    color: #667085;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .links li a span {
    margin-right: 5px;
  }

  .links li a:focus,
  .links li a:active {
    color: #3e54ac;
  }

  /* dropdown */
  .links .dropdown-container {
    position: relative;
  }

  .links .dropdown div {
    display: none;
    position: absolute;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background: #fff;
    z-index: 1;
    top: 100%;
    width: fit-content;
    height: fit-content;
    left: 0;
  }

  .links .dropdown .show {
    display: block;
    padding: 20px;
    padding-bottom: 0;
  }

  .dropdown-container a:last-child {
    padding-bottom: 20px;
  }

  .links .header-btn {
    color: #fff;
    width: fit-content;
  }
}

/* mobile screens */
@media screen and (max-width: 768px) {
  .main-header-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav {
    border-bottom: 1px solid rgba(52, 64, 84, 0.2);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(17px);
    padding: 0 20px;
    width: 100%;
    z-index: 999;
    top: 0;
  }

  .mobile-nav .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* hamburger */
  .mobile-nav .menu-lines {
    display: block;
  }

  .mobile-nav .menu-lines .navbar-toggle {
    display: block;
  }

  .menu-lines {
    height: 60px;
  }

  .menu-lines .lines {
    display: block;
    margin: 22px 10px;
    position: relative;
    width: 24px;
  }

  .menu-lines .lines span {
    background-color: #344054;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition:
      transform 0.5s ease,
      -webkit-transform 0.5s ease;
    width: 100%;
  }

  .menu-lines .open span {
    position: absolute;
  }

  .menu-lines .open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menu-lines .open span:nth-child(2) {
    visibility: hidden;
  }

  .menu-lines .open span:last-child {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
  }

  /* links */
  .invisible {
    display: none;
  }

  .mobile-nav.visible-links {
    display: block;
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

  .visible-links .links {
    background: white;
    padding: 30px 20px;
    min-height: 100vh;
  }

  body.no-scroll {
    overflow-y: hidden;
  }

  .links ul {
    list-style: none;
  }

  .links li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--font-inter);
    font-weight: 600;
    color: #667085;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .links li a span {
    margin-right: 5px;
  }

  .links li a:focus,
  .links li a:active {
    color: #3e54ac;
  }

  /* dropdown */
  .links .dropdown-container {
    position: relative;
  }

  .links .dropdown div {
    display: none;
    position: absolute;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background: #fff;
    z-index: 1;
    top: 100%;
    width: fit-content;
    height: fit-content;
    left: 0;
  }

  .links .dropdown .show {
    display: block;
    padding: 20px;
    padding-bottom: 0;
  }

  .dropdown-container a:last-child {
    padding-bottom: 20px;
  }

  .links .header-btn {
    color: #fff;
    width: fit-content;
  }
}