.footer {
    background-color: #3e54ac;
    color: #fff;
    padding: 60px 10%;
    font-family: var(--font-inter);
    display: grid;
    grid-template-areas: 'header header main main main';
    gap: 60px;
}

.footer img {
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.footer h5 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer ul li {
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.first-div {
    width: 100%;
}

.first-div .address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 70px;
}

.first-div p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 5px;
}

.footer-social-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-social-links a {
    margin-right: 20px;
}

.footer-social-links a:last-child {
    margin: 0;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer {
        padding: 40px 5%;
        grid-template-areas: 'header';
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .first-div {
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .footer {
        padding: 40px 20px;
        grid-template-areas: 'header';
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer img {
        width: 30%;
    }

    .first-div {
        width: 100%;
    }

    .first-div .address {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .footer ul li,
    .first-div p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}