.video-react {
    border-radius: 10px !important;
    box-shadow: 0px 37.8px 75.6px -14.17px #10182824 !important;
    border: 2px solid #10182824 !important;
    height: 100% !important;
    width: 100% !important;
}