.casestudy {
    font-family: var(--font-inter);
}

/* hero section */
.casestudy-hero-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.casestudy-hero {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.casestudy-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.casestudy-hero-content h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}

.casestudy-hero-content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
    width: 70%;
}

.casestudy-catalog {
    margin-top: -150px;
    padding-bottom: 50px;
}

/* case study grid */
.case-tags {
    border-bottom: 1px solid #E9D7FE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5% 10px 5%;
}

.case-tags h5 {
    color: #717680;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 7px;
}

.case-tags h5.active {
    border-bottom: 2px solid #3E54AC;
    color: #3E54AC;
}

.case-tags-mobile {
    display: none;
}

.casestudy-list {
    padding: 20px 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.casestudy-list-item {
    border-radius: 8px;
    border: 0.8px solid #d0d5dd;
    background: #fff;
    box-shadow:
        0px 3.2096168994903564px 4.814425468444824px -1.6048084497451782px rgba(16, 24, 40, 0.03),
        0px 9.628850936889648px 12.838467597961426px -3.2096168994903564px rgba(16, 24, 40, 0.08);
    height: 100%;
    padding: 20px;
}

.casestudy-list-item .imgcontainer {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casestudy-list-item .imgcontainer img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.casestudy-list-item .content-title {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.casestudy-list-item .content-title h5 {
    font-size: 1.6rem;
    line-height: 24px;
    margin-bottom: 10px;
}

.casestudy-list-item p {
    color: #667085;
    font-size: 1.4rem;
    line-height: 24px;
}

/* smaller laptop screens */
@media (min-width: 769px) and (max-width: 1425px) {
    .casestudy-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

/* mobile */
@media (max-width: 768px) {
    .casestudy-hero {
        height: 400px;
        align-items: start;
        margin-top: 8vh;
        padding: 0 20px;
        padding-top: 60px;
    }

    .casestudy-hero h1 {
        font-size: 2.6rem;
    }

    .casestudy-hero p {
        font-size: 1.7rem;
    }

    .casestudy-hero-content p {
        width: 100%;
    }

    .casestudy-catalog {
        margin-top: -150px;
    }

    /*case tag  */
    .case-tags {
        display: none;
    }

    .case-tags-mobile {
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
        position: relative;
    }

    .case-tags-select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #D5D7DA;
        border-radius: 8px;
        background-color: #fff;
        color: #181D27;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 10px 30px 10px 10px;
        width: 100%;
    }

    .case-tags-mobile::after {
        content: "\25BC";
        color: #667085;
        font-size: 1.6rem;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .case-tags-select:focus {
        outline: none;
        border-color: #d0d5dd;
        box-shadow: 0 0 0 2px #002797;
    }

    /* case grids */
    .casestudy-list {
        padding: 0 20px;
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .casestudy-list-item .imgcontainer {
        height: 30vh;
    }

    .casestudy-list-item .imgcontainer img {
        height: 100%;
    }

    .casestudy-list-item .content-title h5 {
        font-size: 1.8rem;
    }

    .casestudy-list-item p {
        font-size: 1.6rem;
    }

}