.blogHeroBg {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5%;
}

.blogHero {
    color: #fff;
    font-family: var(--font-inter);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.blogHero h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
}

.blogHero p {
    margin: 10px 0 1rem 0;
    font-size: 2rem;
    font-weight: 400;
}

.loadingDiv {
    height: 40vh;
    padding-top: 40px;
    padding-left: 5%;
}

.loadingHeader {
    font-family: var(--font-inter);
    font-size: 1.6rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .blogHeroBg {
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 8vh;
        padding: 0 5%;
    }

    .blogHero {
        height: fit-content;
        padding: 40px 0;
    }

    .blogHero h2 {
        font-size: 3.2rem;
    }

    .blogHero p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}