.ctaSectionBg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 320px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.call-to-action {
    text-align: center;
}

.call-to-action h3 {
    color: #fff;
    font-family: var(--font-montserrat);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* small screen */
@media (max-width: 768px) {
    .call-to-action h3 {
        font-size: 18px !important;
    }
}