.solutions {
    font-family: var(--font-montserrat);
}

.solutions .hero {
    padding: 100px 300px 30px 300px;
    height: 60vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.solutions .hero h1 {
    color: #344054;
    font-size: 42px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 5px;
}

.solutions .hero p {
    color: #343434;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.solutions .hero-button {
    display: flex;
    align-items: center;
}

.solutions .hero .hero-button .btn {
    margin: 0;
}

.solutions .hero .hero-button .btn2 {
    margin: 0;
    margin-left: 20px;
}

.solutions .hero img {
    width: auto;
    height: auto;
    margin: auto;
}

/* .solutions-list */
.solutions-list {
    padding: 30px 280px;
    border-bottom: 1px solid #d0d5dd;
}

.solutions-list h2 {
    color: var(--color-h2);
    font-size: var(--font-size-h2);
    text-align: center;
    margin-bottom: 20px;
}

.solutions-list .service-row {
    border-radius: 10px;
    border: 1px solid #d0d5dd;
    padding: 30px;
    margin-bottom: 30px;
}

.solutions-list .service-row div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.solutions-list .service-row div img {
    margin-right: 20px;
}

.solutions-list .service-row div h3 {
    color: #161c2d;
    font-size: 24px;
}

.solutions-list .service-row p {
    max-width: 100%;
    text-align: left;
    color: #343434;
    font-size: 16px;
    line-height: 26px;
}

/* why-choose-us */
.why-choose-us {
    border-bottom: 1px solid #d0d5dd;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 300px;
}

.why-choose-us img {
    height: auto;
    width: auto;
}

.why-choose-us div h3 {
    color: #344054;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.why-choose-us div p {
    color: #000;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 25px;
}

.why-choose-us div a {
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 #1018280d;
    color: #344054;
    font-family: var(--font-nunito);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
}

.why-choose-us div a:hover {
    border: 1px solid #a1a4aa;
}

/* aws-managed-cloud */
.aws-managed-image {
    background-size: cover;
    background-position: center;
    background-color: #00000023;
    background-blend-mode: darken;
    padding: 50px 300px;
}

.aws-managed-cloud {
    color: #fff;
    text-align: center;
}

.aws-managed-cloud h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 20px;
}

.aws-managed-cloud p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

/* mobile */
@media (max-width: 768px) {

    .solutions .hero {
        padding: 30px 20px;
        padding-top: 50px;
        height: fit-content;
        grid-template-columns: 1fr;
    }

    .solutions .hero h1 {
        font-size: 28px;
    }

    .solutions .hero-button {
        justify-content: space-between;
    }

    .solutions .hero .hero-button .btn {
        margin: 0;
        width: 47%;
    }

    .solutions .hero .hero-button .btn2 {
        margin: 0;
        width: 47%;
    }

    .solutions .hero img {
        width: 100%;
    }

    /* .solutions-list */
    .solutions-list {
        padding: 30px 20px;
    }

    .solutions-list h2 {
        font-size: var(--font-size-h2-sm);
    }

    .solutions-list .service-row {
        padding: 30px 20px;
        margin-bottom: 30px;
    }

    .solutions-list .service-row div h3 {
        font-size: var(--font-size-h2-sm);
    }

    /* why-choose-us */
    .why-choose-us {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 50px 20px;
    }

    .why-choose-us img {
        height: auto;
        width: 100%;
    }

    .why-choose-us div h3 {
        font-size: var(--font-size-h2-sm);
    }

    .why-choose-us div p {
        font-size: 16px;
        line-height: 24px;
    }

    /* aws-managed-cloud */
    .aws-managed-image {
        padding: 30px 20px;
    }

    .aws-managed-cloud {
        color: #fff;
        text-align: center;
    }

    .aws-managed-cloud h2 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .aws-managed-cloud p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }

}