/* events sliders */
.events {
  padding: 0 5%;
  padding-top: 30px;
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.events #header-h2,
.events .past-events h2 {
  color: #10193b;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: left;
}

.events #header-h2 {
  margin-bottom: 20px;
}

.events a {
  color: #3e54ac;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #c2c8ef;
  border-radius: 8px;
  padding: 8px 12px;
}

.events a:hover {
  border: 1px solid #909ef0;
  transition: all 0.1s ease-in;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* comment out this line if events exceed 1 */
  gap: 50px;
  overflow: hidden;
}

/* upcoming-events */
.upcoming-events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  /* add this line if events exceed 1 */
}

.upcoming-events-grid {
  display: flex;
  flex-direction: row;
}

.upcoming-events-grid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

.upcoming-events-grid:first-child img {
  margin-bottom: 10px;
}

.upcoming-events-grid>div {
  margin-left: 20px;
  color: #10193b;
}

.upcoming-events-grid h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.upcoming-events-grid h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}

.upcoming-events-grid p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.upcoming-events-grid a {
  align-self: flex-start;
  margin-top: auto;
}

.upcoming-events-grid .upcoming-events-blur {
  width: 300px;
  height: 300px;
  background: #f2f2f2;
  border-radius: 16px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* past-events */
.past-events {
  display: flex;
  flex-direction: column;
}

.events .past-events h2 {
  margin-bottom: 10px;
}

.past-events>a {
  align-self: flex-start;
  margin-bottom: 20px;
}

.past-events .slider-container {
  border-radius: 16px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  height: 50vh;
  width: 100%;
}

.slider-container .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-container .slider img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slider-container .slider div:first-child {
  position: relative;
  height: 100%;
}

.sliderText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 38.5%);
  color: white;
  padding: 10px;
  padding-bottom: 40px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  text-align: center;
}

.sliderText h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 15px;
}

.sliderText p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto;
  width: 90%;
}

.past-events .btngroup {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
}

.past-events .btngroup button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  color: #667085;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

/* smaller laptop screens */
@media (min-width: 769px) and (max-width: 1425px) {

  /* events sliders */
  .events {
    padding: 30px 5%;
    flex-wrap: wrap;
  }

  .events-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  /* upcoming-events */
  .upcoming-events {
    gap: 20px;
  }

  .upcoming-events-grid:first-child img {
    margin-bottom: 0;
  }
}

/* mobile */
@media (min-width: 300px) and (max-width: 768px) {

  /* events sliders */
  .events {
    padding: 30px 20px;
    height: fit-content;
    flex-wrap: wrap;
  }

  .events #header-h2,
  .events .past-events h2 {
    font-size: var(--font-size-h2-sm);
  }

  .events-grid {
    grid-template-columns: 1fr;
    height: fit-content;
    gap: 30px;
  }

  /* upcoming-events */
  .upcoming-events-grid {
    flex-wrap: wrap;
    height: fit-content;
  }

  .upcoming-events-grid img,
  .upcoming-events-grid:first-child img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .upcoming-events-grid:first-child {
    margin-bottom: 40px;
  }

  .upcoming-events-grid>div {
    margin: 0;
  }

  .upcoming-events-grid h4 {
    margin-bottom: 5px;
  }

  .upcoming-events-grid p {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .upcoming-events-grid a {
    margin-bottom: 30px;
  }

  /* past-events */
  .sliderText p {
    width: 100%;
  }

  .past-events .btngroup {
    display: none;
  }
}