/* reviewContainer */
.reviewContainer {
  position: relative;
  height: auto;
  padding: 50px 0;
  padding-bottom: 0;
}

.reviewContainer h5 {
  color: #3e54ac;
  font-family: var(--font-inter);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.reviewContainer h2 {
  color: var(--color-h2);
  font-family: var(--font-inter);
  font-size: var(--font-size-h2);
  text-align: center;
}

/* reviewVideo */
.reviewVideo {
  padding: 30px 5%;
  position: relative;
}

.videoWrap {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 21px;
  overflow: hidden;
  z-index:100;
}

.placeholderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrap {
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-inter);
  padding: 10px 30px;
}

.contentWrap .logoImage {
  width: 100px;
  height: auto;
  margin-bottom: 30px;
}

.contentWrap h3 {
  color: #101828;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.contentWrap a {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  color: #344054;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px 16px;
  width: fit-content;
}

.contentWrap a:hover {
  border: 1px solid #93969c;
  color: #344054;
}

.contentWrap h4 {
  font-size: 1.65rem;
  font-weight: 600;
  color: #101828;
  text-align: left;
  margin: 10px 0;
}

.contentWrap h6 {
  font-family: var(--font-inter);
  font-size: 1.4rem;
  font-weight: 400;
  color: #475467;
}

/* custom dots */
.videoDot {
  /* display: inline-block; */
  /* margin: auto; */
  /* padding: 0; */
  /* text-align: right; */
  /* margin-left: auto; */
  position: absolute;
  right: 0;
  top: 0;
  right: 0;
  z-index: 999999;
  background-color: #101828;
  left: 100%;
  width: 100%;
}

.videoDot li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.videoDot li button {
  border: none;
  background-color: #C2C8EF;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 7.5px;
}

.videoDot li.slick-active button {
  background-color: #3E54AC;
}


.videoDot li button:hover,
.videoDot li button:focus {
  background-color: #3E54AC;
  outline: 0;
}

/* custom dots ends here */

.mobile {
  display: none;
}
/* 
.btngroup {
  position: absolute;
  top: 45%;
  left: 3.5%;
  right: 3.5%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 0;
} */

.buttonLeft, 
.buttonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLeft {
  left: 30px;
}

.buttonRight {
  right: 30px; 
}

.btngroup button {
  background-color: #fff;
  border-radius: 50%;
  border: 2.5px solid #e2e8f0;
  color: #334155;
  cursor: pointer;
  height: 52px;
  width: 52px;
  font-size: 2.2rem;
  outline: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* wordsReview */
.reviewsCarouselContainer {
  background: #263571;
  height: auto;
  margin-top: 30px;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.reviewsCarouselContainer h5 {
  color: #EFF0FA;
  margin-bottom: 0;
}

.reviewBox {
  padding: 30px 80px 0 80px;
  margin: 0 10px;
  position: relative;
}

.reviewBox .quoteImg1 {
  position: absolute;
  bottom: 54px;
  right: 30px;
}

.reviewBox .quoteImg2 {
  position: absolute;
  top: 20px;
  left: 20px;
}

.reviewBox h3 {
  color: #fff;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 46px;
}

.reviewBox h4 {
  color: #A4A7AE;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

/* custom dots */
.customDot {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 0;
}

.customDot li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.customDot li button {
  border: none;
  background-color: #717680;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 7.5px;
}

.customDot :global(li.slick-active) button {
  background-color: #FFFFFF;
}

.customDot li button:hover,
.customDot li button:focus {
  background-color: #FFFFFF;
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}

/* custom dots ends here */

.arrow {
  background: transparent;
  border: 1.7px solid #FFFFFF;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 52px;
  width: 52px;
  padding-top: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: -100px;
}

.right {
  right: -100px;
}

.arrow:hover {
  color: #ccc;
}

/* smaller laptop screens */
@media (min-width: 1025px) and (max-width: 1425px) {

  /* reviewContainer */
  .reviewContainer {
    padding: 30px 0;
  }

  .reviewContainer h2 {
    font-size: 2.4rem;
  }

  /* reviewVideo */
  .reviewVideo {
    padding: 30px 5% 0;
  }

  .contentWrap h3 {
    font-size: 2rem;
    line-height: 24px;
  }

  .contentWrap h4 {
    font-size: 1.4rem;
  }

  .btngroup button {
    height: 40px;
    width: 40px;
    font-size: 2rem;
  }

  /* wordsReview */
  .wordsReview {
    padding: 60px 5%;
    padding-bottom: 0;
  }

  .reviewsCarouselContainer {
    padding: 50px 5%;
  }

  .reviewBox {
    padding-bottom: 30px;
  }

  .reviewBox .quoteImg1 {
    right: 62px;
    height: 20px;
    width: auto;
  }

  .reviewBox .quoteImg2 {
    height: 20px;
    width: auto;
    left: 40px;
    top: 20px;
  }

  .reviewBox h3 {
    font-size: 2.4rem;
    line-height: 32px;
  }

  .reviewBox h4 {
    font-size: 1.6rem;
    line-height: 26px;
  }

  .arrow {
    font-size: 1.8rem;
    top: 50%;
    height: 40px;
    width: 40px;
    padding-top: 3px;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  /* reviewContainer */
  .reviewContainer {
    padding: 30px 0;
  }

  /* reviewVideo */
  .reviewVideo {
    padding: 30px 60px 0;
  }

  .videoWrap {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    background: #f9fafb;
  }

  .contentWrap {
    box-shadow: none;
    height: fit-content;
  }

  .contentWrap .logoImage {
    width: 120px;
  }

  .contentWrap h6,
  .contentWrap h4 {
    margin-bottom: 20px;
    font-size: 1.4rem;
  }

  .contentWrap h3 {
    margin-bottom: 10px;
    line-height: 30px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .btngroup {
    position: relative;
    justify-content: flex-start;
    margin-bottom: 0;
    left: 0;
    top: 15px;
    padding: 0;
    padding-left: 30px;
  }

  .btngroup button {
    border-radius: 4px;
    height: 40px;
    width: 80px;
  }

  .btngroup button:first-child {
    margin-right: 20px;
  }

  /* wordsReview */
  .wordsReview {
    padding: 30px;
    padding-bottom: 0;
  }

  .reviewsCarouselContainer {
    padding: 50px 20px;
  }

  .reviewBox {
    margin: 0;
    padding-bottom: 30px;
  }

  .reviewBox .quoteImg1,
  .reviewBox .quoteImg2 {
    height: 24px;
    width: auto;
  }

  .reviewBox .quoteImg2 {
    top: 20px;
    left: 50px;
  }

  .reviewBox .quoteImg1 {
    bottom: 90px;
  }

  .reviewBox h4 {
    font-size: 3rem;
    margin-top: 12px;
  }

  .reviewBox h3 {
    line-height: 30px;
    font-size: 2rem;
  }

  .arrow {
    font-size: 1.8rem;
    top: 70%;
    height: 40px;
    width: 40px;
    padding-top: 3px;
  }

  .left {
    left: 20px;
  }

  .right {
    right: 20px;
  }
}

/* mobile screen */
@media (max-width: 768px) {

  /* reviewContainer */
  .reviewContainer {
    padding: 30px 0;
  }

  .reviewContainer h5 {
    font-size: 1.4rem;
  }

  .reviewContainer h2 {
    font-size: var(--font-size-h2-sm);
  }

  /* reviewVideo */
  .reviewVideo {
    padding: 30px 20px;
    padding-bottom: 0;
    margin-bottom: -10px;
  }

  .videoWrap {
    grid-template-columns: 1fr;
    background: #f9fafb;
  }

  .contentWrap {
    box-shadow: none;
    height: fit-content;
  }

  .contentWrap .logoImage {
    margin-bottom: 0;
  }

  .contentWrap h6 {
    margin-top: 10px;
  }

  .contentWrap h6,
  .contentWrap h4 {
    margin-bottom: 20px;
  }

  .contentWrap h3 {
    font-size: 1.6rem;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .btngroup {
    position: relative;
    justify-content: flex-start;
    margin-bottom: 40px;
    left: 0;
    top: 15px;
    padding: 0;
    padding-left: 30px;
  }

  .btngroup button {
    border-radius: 4px;
    height: 40px;
    width: 80px;
  }

  .btngroup button:first-child {
    margin-right: 20px;
  }

  /* wordsReview */
  .wordsReview {
    padding: 30px 0;
    padding-bottom: 0;
  }

  .reviewsCarouselContainer {
    margin-top: 0;
    margin-bottom: -30px;
    padding: 50px 0;
  }

  .reviewBox {
    margin: 0;
    padding: 20px;
  }

  .reviewBox .quoteImg1,
  .reviewBox .quoteImg2 {
    height: 15px;
    width: auto;
  }

  .reviewBox .quoteImg2 {
    top: 0;
    left: 20px;
  }

  .reviewBox .quoteImg1 {
    right: 20px;
    bottom: 60px;
  }

  .arrow {
    top: 90%;
    transform: translateY(-90%);
    height: 40px;
    width: 40px;
  }

  .left {
    left: 20px;
  }

  .right {
    right: 20px;
  }

  .reviewBox h3 {
    font-size: 1.4rem;
    line-height: 24px;
    width: 100%;
  }
}